{% extends "col_rm/templates/col_rm_template.html" %}

{% block title %}
    Column Remover
{% endblock %}

{% block main %}
<form action="/clupload" method="POST" enctype="multipart/form-data">
<dl>
    <input type="file" name="file" value="Choose files" required>
    <input type="file" name="file1" value="Choose files" required>
</dl>
<p></p>
<input type="submit" value="Upload files"></form>
<br>
<h4> List of uploaded files </h4>
{% for file in filse %}
    <li>{{ file }} </li>
{% endfor %}
<br>
<input type="submit" value="Remove Columns">
{% endblock %}